<div class="leaderboard prompt padding-1">
    <div class="results">
        <div class="header rank">#</div>
        <div class="label">USERNAME</div>
        <div class="value">SCORE</div>
        <ng-container *ngFor="let user of leaders; let index = index">
            <div class="rank">
                <div class="circle rank{{index + 1}}">{{index + 1}}</div>
            </div>
            <div class="label">{{user.user}}</div>
            <div class="value">{{user.score}}</div>
        </ng-container>
    </div>
</div>