.container {
    // background-color: #272822;
    background-color: var(--bloc-content-bg-color);
    color: var(--main-text-color);
    // background-color: #edf5f8;
    // color: #2b2b2b;

    .title {
        text-align: center;
    }
}