.container {
    background-color: #272822;
    color: #fff;
    border-radius: 4px;

    width: 1000px;
    max-width: 100%;
    .title {
        text-align: center;
    }

    .rules {
        gap: 2em;

        video {
            width: 60%;
            max-width: 600px;
        }

        .headline {
            font-size: 1.3em;
            font-weight: bold;
        }
    }
}