<div class="container padding-2">

    <div class="title margin-bottom-2">RULES</div>

    <div class="flex flex-direction-row rules">
        <video muted autoplay loop>
            <source src="/assets/tutorial-palindrome.webm" type="video/webm" />
        </video>
        <div>
            <p class="headline">Are you ready to become a Prompt engineer?!</p>
            <p>1. Select a challenge</p>
            <p>2. Write the best comment you think will generate the code to solve the problem</p>
            <p>3. Once you are happy with the generated code, run the tests</p>
            <p></p>
            <div class="margin-top-2">
                <p>
                    <mat-icon inline=true>timer</mat-icon>
                    The faster you complete a challenge, the more points you get
                </p>
                <p>
                    <mat-icon inline=true>scoreboard</mat-icon>
                    Get extra points if you pass all the test of a challenge
                </p>
            </div>
            <div class="margin-top-2">

            </div>
        </div>
    </div>
    <div class="margin-top-2 flex justify-content-center">
        <button mat-flat-button color="primary" mat-dialog-close>Understood!</button>
    </div>
</div>