<div class="container padding-2">

    <div class="title margin-bottom-2">RULES</div>

    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugit ratione perspiciatis itaque aliquid, nam
        alias,
        consequuntur autem, maiores facere doloribus. Consequuntur delectus eaque tempora omnis, quod totam optio
        perferendis!
        <br />

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio consequatur tenetur accusamus corrupti
        beatae ipsam tempore ipsum nostrum ullam, explicabo cumque sunt quo fuga fugit ducimus expedita, quaerat libero!

        <br />

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam distinctio at suscipit quia perferendis ipsa
        repudiandae officiis quaerat vitae porro aspernatur magnam ea alias repellat hic, magni dolore nobis doloribus.

    </div>
    <div class="margin-top-2 flex justify-content-center">
        <button mat-flat-button color="primary" mat-dialog-close>OK</button>
    </div>
</div>