<mat-sidenav-container autosize>
    <mat-sidenav #challengesListDrawer position="start" opened="true" mode="side">
        <div class="my-sidenav-content">
            <div class="header">
                <h4>Challenges</h4>
            </div>
            <div class="challenges">
                <mat-nav-list>
                    <mat-list-item *ngFor="let challenge of game.challengesData | keyvalue"
                        [routerLink]="['challenge', challenge.key]"
                        [ngClass]="{'selected': challenge.key == game.currentChallenge}">

                        <div class="flex flex-direction-row justify-content-space-between">
                            <div>{{challenge.value.name}}</div>
                            <!-- <mat-icon *ngIf="game?.challengesTempData[challenge.key]?.done">task_alt</mat-icon> -->
                            <mat-icon *ngIf="game?.game?.completedChallenges?.includes(challenge.key)">task_alt</mat-icon>
                        </div>
                    </mat-list-item>
                </mat-nav-list>
            </div>

            <button mat-icon-button (click)="showTerminal()">
                <mat-icon aria-label="Trophy icon">terminal</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="nav">
            <div class="flex flex-direction-row justify-content-space-between">
                <div class="flex align-items-center">
                    <!-- <button type="button" matSuffix mat-icon-button aria-label="Show list of challents"
                        (click)="challengesListDrawer.toggle()">
        
                        <mat-icon aria-label="Check icon" fontIcon="menu"></mat-icon>
                    </button> -->
                </div>

                <div class="challenge flex align-items-center">
                    <!-- {{challengeData?.name}} -->
                </div>
                <div class="environment flex align-items-center">
                    <div *ngIf="game.game?.user" class="padding-right-1">
                        Go {{game.game?.user}}! ({{game.game.score}} points)
                    </div>
                    <!-- <div>
                                {{game.stopwatch.getElapsedTimeInSeconds()}}
                            </div> -->
                    <div class="flex align-items-center">
                        <button mat-flat-button color="warn" (click)="endGame()">End game</button>
                    </div>
                    <button mat-icon-button color="accent" (click)="showRules()">
                        <mat-icon aria-label="Help icon" fontIcon="help_center"></mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="openLeaderBoardDialog()">
                        <mat-icon aria-label="Trophy icon">emoji_events</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>