
mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    max-width: 100%;
    min-width: 250px;
}

.my-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        padding: 1rem;
    }

    h4 {
        margin: 0;
    }

    .challenges {
        flex: 1;
        overflow-y: auto;

        mat-icon {
            color: green;
        }
    }
}