<!-- <mat-sidenav-container autosize>
    <mat-sidenav #challengesListDrawer position="start" opened="true" mode="side">
        <div class="my-sidenav-content">
            <div class="header">
                <h4>Challenges</h4>
            </div>
            <div class="challenges">
                <mat-nav-list>
                        <mat-list-item *ngFor="let challenge of game.challengesData | keyvalue"
                        [routerLink]="['/challenge', challenge.key]"
                        [ngClass]="{'selected': challenge.key == currentChallenge}">
                        
                        <div class="flex flex-direction-row justify-content-space-between">
                            <div>{{challenge.value.name}}</div>
                            <mat-icon *ngIf="game?.challengesTempData[challenge.key]?.done">task_alt</mat-icon>
                        </div>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
 -->

 <router-outlet></router-outlet>