<div class="outline">
    <div class="container-score">
        <div class="header">
            CONGRATULATIONS
        </div>
        <div class="body">
           <p>You have successfully finish your training!</p>
           <p>Are you up for a real challenge?</p>
        </div>
        <div class="footer">
            <button mat-stroked-button (click)="close(true)">Take the challenge!</button>
            <button mat-button (click)="close(false)">No thank you</button>
        </div>
    </div>
</div>