<div class="main">
    <div class="flex flex-direction-row flex-grow container">
        <div class="flex flex-direction-column align-items-center flex-grow code-zone">
            <div class="code-editor flex flex-direction-column">
                <div class="header">
                    PROMPT ENGINEERING KATA
                </div>
                <div class="body flex-grow flex flex-direction-row">
                    <div class="q flex flex-direction-column">
                        <div class="q-header">
                            Nuts AI: Chat
                        </div>
                        <div class="chat flex-grow">
                            <div class="chat-item {{item.role}}" *ngFor="let item of chatItems">
                                <div markdown [data]="item.content"></div>
                            </div>
                        </div>
                        <div class="prompt">
                            <form id="new-message-form" [formGroup]="newMessageFormGroup">
                                <div class="flex flex-direction-row">
                                    <textarea id="prompt-input" placeholder="Write your prompt here"
                                        formControlName="promptFormControl" rows="4"
                                        (keydown)="onInputKeyDown($event)"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="code-area" *ngIf="challenge">
                        <div class="editor">
                            <div class="editor-header">
                                <div class="label">
                                    <span class="markdown">MD</span>
                                    Challenge.md
                                </div>
                            </div>
                            <div class="editor-header">
                                <div class="label">

                                    <span class="javascript">JS</span>
                                    {{challenge?.id}}.js
                                </div>
                            </div>
                            <div class="code challenge-data">
                                <div class="title-label"><span>This is your challenge!</span></div>
                                <div markdown [data]="challenge?.description"></div>
                                <div class="label"><span>Instructions</span></div>
                                <p>Write a prompt that will generate a function <span
                                        class="function-name">{{challenge?.id}}</span>.</p>
                                <div class="label"><span>Hints</span></div>
                                <p>The function name is {{challenge?.id}}(/*...*/)</p>
                            </div>
                            <div class="code">
                                <div class="flex align-items-center justify-content-center loading"
                                    [ngClass]="{'display-none': !loading}">
                                    <app-loading-cube
                                        class="flex align-items-center justify-content-center overflow-hidden"></app-loading-cube>
                                </div>

                                <div class="generated-code" [ngClass]="{'display-none': loading}"
                                    [innerHTML]="proposedCode | language : 'javascript' | markdown">
                                </div>
                            </div>

                        </div>
                        <div class="console" [ngClass]="{'active': showConsole}">
                            <div class="terminal" id="terminal" #terminal> </div>
                        </div>
                    </div>
                </div>
                <div class="footer flex flex-direction-row justify-content-space-between padding-left-1 padding-right-1">
                    <div class="flex flex-direction-row align-items-center">
                        <mat-icon
                                aria-label="Person icon">person</mat-icon>
                        <div>{{game.game?.user}}</div>
                    </div>
                    <div class="flex flex-direction-row">
                        <a class="btn flex align-items-center" (click)="runTests()">
                            <mat-icon
                            aria-label="Help icon">play_arrow</mat-icon>
                            <div>Run tests</div>
                        </a>
                        <!-- <a class="btn flex align-items-center">
                            <mat-icon
                            aria-label="Help icon">question_mark</mat-icon>
                            <div>Help</div>
                        </a> -->
                        <a class="btn flex align-items-center" (click)="showTerminal()"><mat-icon
                                aria-label="Trophy icon">terminal</mat-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>