html,
body {
    padding: 0;
    margin: 0;
}

:root {
    --code-editor-header: #323232;
    --code-editor-body: #1e1e1e;
    --code-editor-footer: #41433a;
    --code-editor-footer-hover: #51534c;
    --code-editor-default-text: #e6e6e6;
    --code-editor-separator: #444444;
    --code-editor-tab-label: #d7bd90;
    --q-background: #252526;
}

body {
    background: linear-gradient(-45deg, #faedcb, #c9e4de, #c6def1, #f2c6de);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;

    background: #0D0208;
    color: #00FF41;
}

pre[class*=language-] {
    background: transparent !important;
    padding: 0 !important;
}

pre {
    margin: 0 !important;
    border-radius: 0 !important;
}

.code pre {
    height: 100%;
}

pre code,
.export,
.prompt {
    font-family: 'Menlo Regular' !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.challenge-description, .chat {
    p {
        margin: 0 !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.my-dialog .mat-mdc-dialog-surface {
    background-color: transparent !important;
}